body {

        font-family:Arial, times,sans-serif;
        background-color:gray;
    
}

    

  header {

       background-color:black;
       color:white;
       width:800px;
       height:100px;
       margin-left:auto;
       margin-right:auto;
       text-align:center;
       padding:10px;

        }
  section{

       background-color:white;
       width:800px;
       height:300px;
       margin-left:auto;
       margin-right:auto;
       /*border-width:2px;*/
       border-style:solid;
       border-color:black;
       padding:7px;


        }

  footer {
       background-color:black;
       color:white;
       width:800px;
       height:20px;
       margin-left:auto;
       margin-right:auto;
       padding:10px;

        }
