body {
    background-color:darkgray;
    
}

.Countryddl {

    width:110px
}

/*.UserRegistrationText {
        padding: 7px 7px;
        color:#95027B;
        width:250px;

}

.RegistrationLabText {
    color:#95027B
}*/