<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MYDBConnection" connectionString="data source=INFOCONN-NB154\SQLEXPRESS; Initial Catalog=Anurag; User Id =sa; Password=sasa" providerName="System.Data.SqlClient"/>
    <add name="DBConnection" connectionString="data source=192.168.0.93; Initial Catalog=SmartProcessing; User Id =sa; Password=password@123" providerName="System.Data.SqlClient"/>
    <add name="TeleformDBConnection" connectionString="data source=192.168.0.109; Initial Catalog=RHB_BranchMY; User Id =sa; Password=password@123" providerName="System.Data.SqlClient"/>
    <add name="RPADBConnection" connectionString="data source=192.168.0.90; Initial Catalog=SPP2_RPA; User Id =sa; Password=password@123" providerName="System.Data.SqlClient"/>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBConnection" connectionString="data source=DLX; Initial Catalog=BerjayaSompo; User Id =sa; Password=password@123" providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
<appSettings>
    <add key="ServerName" value="192.168.0.101" />
    <add key="UserName" value="Hanmanth" />
    <add key="Password" value="password" />
    <!--<add key="Domain" value="workflow" />-->
  </appSettings>

</configuration>
